
<div class="form">
  <img class="man" src="/images/man.png" alt="">
  <div class="formint">
    <div class="formtxt">
      <h1><strong>For Daily Updates<br> Please Subscribe</strong></h1>
      <p>Follow For Quick Updates</p>
      <div class="formicon">
        <a href="#"><i class="fa-brands fa-facebook fa-2x"></i></a>
        <a href="#"><i class="fa-brands fa-instagram fa-2x"></i></a>
        <a href="#"><i class="fa-brands fa-twitter fa-2x"></i></a>
      </div>

    </div>
    <div class="forminput">
      <form class="" action="index.html" method="post">
        <input type="text" name="" value="" placeholder="First Name"><br>
        <input type="text" name="" value="" placeholder="Last Name"><br>
        <input type="text" name="" value="" placeholder="Email"><br>
        <input type="text" name="" value="" placeholder="Comment"><br>
        <button class="butn" type="button" name="button">Subscribe &nbsp &nbsp &nbsp &nbsp <i class="fa-solid fa-envelope"></i></button>
      </form>
    </div>
  </div>
</div>
</body>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="/fun.js" charset="utf-8"></script>
</html>
